.container {
    white-space: nowrap;
    overflow-x: auto; /* Add horizontal scrollbar if necessary */
}

.custom-head-pad {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Increment size of nav pills */
.nav-pills {
    white-space: nowrap;
    overflow-x: auto; /* Add horizontal scrollbar if necessary */  
    padding-top: 20px;
    width: 100%                  
}

.nav-col {
    padding: 0;
}

.nav-link {
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
}

.nav-link-bottom {
    margin-bottom: 60%;
}

.nav-pills .nav-link.active{
    background-color: lightgray;
    color: black;
}

.nav-link:hover {
    background-color: gray;
    color: black;
}

.nav-pills .nav-link.active:hover{
    background-color: gray;
}

.clickable-row:hover {
    cursor: pointer;
}

.bottom-right {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
    left: 5px;
}

.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
}

.circle-button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    padding: 0;
}

.circle-total-defects {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    padding: 0;
}

.circle-status-defects {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    padding: 0;
}